@model IEnumerable<Visitors.Models.Visitor>

@{
    ViewData["Title"] = "Index";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary  ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Visitors</h2>

            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row  pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Visitor" asp-action="Create" class="btn btn-primary">
                    <i class="bi bi-plus-circle-fill"></i>Create  new Visit
                </a>
            </div>
        </div>
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Visitor Name
                    </th>
                    <th>
                        Place
                    </th>
                    <th>
                        Purpose
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Visited Date
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                    Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            @obj.User.FulllName
                        </td>
                        <td>
                            @obj.Place.PlaceName
                        </td>
                        <td>
                            @obj.Category.Title
                        </td>
                        <td>
                            @obj.Description
                        </td>
                        <td>
                            @obj.VisitedDate
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => obj.Status)
                        </td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <a asp-controller="Visitor" asp-action="Edit" asp-route-id="@obj.VisitorId" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Visitor" asp-action="Delete" asp-route-id="@obj.VisitorId" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

